* {
    box-sizing: border-box;
}

@font-face {
    font-family: euro;
    src: url(../fonts/eurof55.ttf);
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

/* BASE */

body {
    margin: 0;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
}

hr {
    color: #e1e0e0;
    margin-bottom: 30px;
}

/* LAYOUT */

.container {
    margin: 0 auto;
    /* padding-left: 260px;
    padding-right: 260px; */
}

/* HELPER */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-dir-col {
    flex-direction: column;
}

.logo {
    font-family: euro, sans-serif;
    font-size: 2.5rem;
    letter-spacing: -0.8px;
}

.logo span {
    color: #58c93a;
}

/* LIST HELPER */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* header */

.main-header {
    width: 100%;
    background-color: #292929;
    color: #ffffff;
    box-shadow: inset 0 -6px 0 #1e1e1e;
}

.header-container {
    /* height: 130px;
    max-width: 980px; */
}

.header-logo {
    color: #ffffff;
}

.main-nav>*:not(:last-child) {
    margin-inline-end: 80px;
}

.main-nav a {
    text-decoration: none;
    color: #ffffff;
    ;
    font-weight: 700;
}

.main-nav a:hover {
    color: #58c93a;
}

/* main container */

.main-container {
    padding-top: 80px;
    /* max-width: 980px; */
    margin: 0 auto;
    border-right: 1px solid #e1e0e0;
    border-left: 1px solid #e1e0e0;
}

/* main cards */

.card-container {
    margin-bottom: 80px;
}

.card-desc {
    font-family: lato, sans-serif;
    margin-left: 41px;
    width: 445px;
    height: 114px;
}

.card-desc h2 {
    /* font-size: 1.75rem; */
    text-transform: uppercase;
    letter-spacing: 0.84px;
    width: 386px;
    height: 50px;
    color: #4f4e4e;
    /* margin-bottom: 60px; */
}

.card-desc p {
    /* margin: 0 auto; */
    /* padding-bottom: 20px; */
    width: 84px;
}

/* .card-desc-first-p{
    margin-bottom: 10px;
} */

.card-desc button {
    font-family: lato, sans-serif;
    font-size: 1rem;
    width: 186px;
    height: 40px;
    border: 2px solid #c2c2c2;
    color: #c2c2c2;
    background-color: #ffffff;
    border-radius: 30px;
    line-height: 40px;
    text-align: center;
    /* margin-top: 20px; */
    cursor: pointer;
}

.card-desc button:hover {
    border: 2px solid #58c93a;
    width: 210px;
}

.nav-pages-container a {
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #818181;
    margin-bottom: 30px;
}

/* footer */

.footer-container {
    height: 315px;
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: #f8f8f8;
    padding: 80px;
}

.footer-container small {
    font-family: lato, sans-serif;
    font-size: 0.8125rem;
}

.footer-logo {
    color: #292929;
}

.social-nav li {
    padding: 20px;
}

.social-icon {
    color: #e5e5e5;
}

.social-icon:hover {
    color: #516fad;
}

/* media */

/* *** tablet *** */

@media (min-width: 740px) {
    .header-container {
        height: 130px;
        max-width: 700px;
    }
    .main-container {
        max-width: 700px;
    }
    .card-container img {
        width: 320px;
        height: 210px;
    }
    .card-desc h2 {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    .card-desc p {
        font-size: .875rem;
        width: 330px;
        margin: 0 0 10px 0;
    }
    .card-desc button {
        margin-bottom: 5px;
    }
}

@media (min-width: 1100px) {
    .header-container {
        height: 130px;
        max-width: 980px;
    }
    .main-container {
        max-width: 980px;
    }
    .card-container img {
        width: 468px;
        height: 307px;
    }
    .card-desc h2 {
        font-size: 1.35rem;
        margin-bottom: 60px;
    }
    .card-desc p {
        font-size: 1rem;
        width: 445px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .card-desc button {
        margin-top: 20px;
    }
}